<div class="home-3">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="h2">Собственникам недвижимости</div>
            </div>
            <div class="col-4 d-flex align-items-center">
                <div class="h4">Ипотечные программы</div>
            </div>
        </div>
        <!-- /.row -->
        <div class="row mt-4">
            <div class="col-8">
                <div class="home-3__card card-1">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. d do eiusmod
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </p>
                    <ul class="home-3__tabs list-group">
                        <li class="slide-3__tabs_item">
                            <a class="slide-3__tabs_link active" id="list-sell-list" data-toggle="list" href="#list-sell">Продать</a>
                        </li>
                        <li class="slide-3__tabs_item">
                            <a class="slide-3__tabs_link" id="list-to-rent-list" data-toggle="list" href="#list-to-rent">Сдать</a>
                        </li>
                        <li class="slide-3__tabs_item">
                            <a class="slide-3__tabs_link" id="list-redevelopment-list" data-toggle="list" href="#list-redevelopment">Оформить перепланировку</a>
                        </li>
                    </ul>
                    <!-- /.home-3__tabs -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="list-sell">
                            <ul class="card-1__list">
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-1.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">квартиры</span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-2.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">комнаты</span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-3.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">дома, дачи </span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-4.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">зем. участки </span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-5.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">ком.недвиж.</span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-6.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">элит.недвиж.</span>
                                    </a>
                                </li>
                            </ul>
                            <p>
                                F do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
                                laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="list-to-rent">
                            <ul class="card-1__list">
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-1.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">квартиры</span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-2.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">комнаты</span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-3.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">дома, дачи </span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-5.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">ком.недвиж.</span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-6.svg" alt="">
                                        </div>
                                        <span class="card-1__list_title">элит.недвиж.</span>
                                    </a>
                                </li>
                            </ul>
                            <p>
                                F do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullam
                                laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="list-redevelopment">
                            <ul class="card-1__list">
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link big">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-7.png" alt="">
                                        </div>
                                        <span class="card-1__list_title">согласовать перепланировку</span>
                                    </a>
                                </li>
                                <li class="card-1__list_item">
                                    <a href="/" class="card-1__list_link big">
                                        <div class="card-1__list_icon">
                                            <img src="../../assets/img/home-3/card-1-8.png" alt="">
                                        </div>
                                        <span class="card-1__list_title">заказать проектную перепланировки</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="card-1__desc">
                                <li class="card-1__desc_item">Подготовка документов.</li>
                                <li class="card-1__desc_item">Согласование по факту выполненных изменений.</li>
                                <li class="card-1__desc_item">Внеплановая инвентаризация БТИ.</li>
                                <li class="card-1__desc_item">Внесение изменений в кадастровый паспорт.</li>
                                <li class="card-1__desc_item">Регистрация нового права собственности на жилье с измененными общими характеристиками.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.tab-content -->
                    <div class="home-3__btn">
                        <button class="btn btn-dark">Посмотреть полную информацию</button>
                        <button class="btn btn-outline">Оставить заявку</button>
                    </div>
                </div>
                <!-- /.home-3__card -->
                <div class="h2 mt-5 mb-4">Срочный выкуп</div>
                <div class="home-3__card card-2">
                    <p>
                        Если вы хотите сэкономить на покупке квартиры ознакомьтесь с нашим каталогом выкупных квартир, цена на такие
                        предложения всегда ниже рынка...
                    </p>
                    <div class="h4">Описан принцип работы по срочному выкупу</div>
                    <ul class="card-2__list">
                        <li class="card-2__list_item">
                            <div class="card-2__list_icon">
                                <img src="../../assets/img/home-3/card-2-1.png" alt="">
                            </div>
                            Оценка недвижимости;
                        </li>
                        <li class="card-2__list_item">
                            <div class="card-2__list_icon">
                                <img src="../../assets/img/home-3/card-2-2.png" alt="">
                            </div>
                            Получение справок;
                        </li>
                        <li class="card-2__list_item">
                            <div class="card-2__list_icon">
                                <img src="../../assets/img/home-3/card-2-3.png" alt="">
                            </div>
                            Расчеты сторон;
                        </li>
                        <li class="card-2__list_item">
                            <div class="card-2__list_icon">
                                <img src="../../assets/img/home-3/card-2-4.png" alt="">
                            </div>
                            Поиск покупателя;
                        </li>
                        <li class="card-2__list_item">
                            <div class="card-2__list_icon">
                                <img src="../../assets/img/home-3/card-2-5.png" alt="">
                            </div>
                            Составление договоров;
                        </li>
                        <li class="card-2__list_item">
                            <div class="card-2__list_icon">
                                <img src="../../assets/img/home-3/card-2-6.png" alt="">
                            </div>
                            Передача недвижимости;
                        </li>
                        <li class="card-2__list_item">
                            <div class="card-2__list_icon">
                                <img src="../../assets/img/home-3/card-2-7.png" alt="">
                            </div>
                            Оформление документов;
                        </li>
                        <li class="card-2__list_item">
                            <div class="card-2__list_icon">
                                <img src="../../assets/img/home-3/card-2-8.png" alt="">
                            </div>
                            Регистрация;
                        </li>
                    </ul>
                    <div class="home-3__btn mb-4">
                        <button class="btn btn-dark">Посмотреть полную информацию</button>
                        <button class="btn btn-primary">Посмотреть все выкупленные объекты</button>
                    </div>
                    <p>
                        Укажите несколько характеристик и вы сможете узнать стоимость вашей недвижимости по срочному выкупу или
                        оставьте нам заявку для подробной консультации.
                    </p>
                    <div class="h4 text-primary mt-4">Экспрес оценка недвижимости онлайн</div>
                    <div class="home-3__btn mt-3">
                        <button class="btn btn-outline">Оставить заявку</button>
                        <button class="btn btn-outline">Оn-line оценка</button>
                    </div>
                </div>
                <!-- /.home-3__card -->
            </div>
            <div class="col-4">
                <div class="home-3__aside">
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Для молодой семьи</div>
                        <div class="card__circle_desc">
                            Семья с детьми, либо планирующая ребенка. Планируют
                            расширить жилплощадь или улучшить жилищные
                            условия
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-1.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Ипотека на новостройку</div>
                        <div class="card__circle_desc">
                            Ипотека на первичном рынке - квартира в новостройке
                            или строящемс доме, а так же комната
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-2.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Без первого взноса </div>
                        <div class="card__circle_desc">
                            Взять квартиру в ипотеку с первоначальным взносом
                            0 рублей
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-3.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Военная ипотека </div>
                        <div class="card__circle_desc">
                            Планирущие получить жилье по программе военной
                            ипотеки
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-4.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Вторичное жилье </div>
                        <div class="card__circle_desc">
                            Ипотека на вторичном рынке - право собственности на
                            жилье уже было зарегистрировано на того
                            или иного владельца
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-5.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Для молодой семьи</div>
                        <div class="card__circle_desc">
                            Семья с детьми, либо планирующая ребенка. Планируют
                            расширить жилплощадь или улучшить жилищные
                            условия
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-1.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Ипотека на новостройку</div>
                        <div class="card__circle_desc">
                            Ипотека на первичном рынке - квартира в новостройке
                            или строящемс доме, а так же комната
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-2.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Без первого взноса </div>
                        <div class="card__circle_desc">
                            Взять квартиру в ипотеку с первоначальным взносом
                            0 рублей
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-3.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Военная ипотека </div>
                        <div class="card__circle_desc">
                            Планирущие получить жилье по программе военной
                            ипотеки
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-4.png" alt="">
                        </div>
                    </a>
                    <a href="/" class="card__circle">
                        <div class="card__circle_title">Вторичное жилье </div>
                        <div class="card__circle_desc">
                            Ипотека на вторичном рынке - право собственности на
                            жилье уже было зарегистрировано на того
                            или иного владельца
                        </div>
                        <div class="card__circle_icon">
                            <img src="../../assets/img/home-3/home-3__aside-5.png" alt="">
                        </div>
                    </a>
                </div>
                <!-- /.home-3__aside -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-3 -->