<div class="home-5">
    <div class="container">
        <div class="h2">Новости</div>
        <div class="row mt-4">
            <div class="col-8">
                <a href="/" class="card__news-big">
                    <div class="card__news-big_img">
                        <img src="../../assets/img/home-5/prezident.jpeg" alt="">
                    </div>
                    <div class="card__news-big_content">
                        <ul class="card__news-big_info">
                            <li class="card__news-big_info_item">
                                <img src="../../assets/img/icons/date.png" alt="">
                                23 сентября 2017
                            </li>
                            <li class="card__news-big_info_item">
                                <img src="../../assets/img/icons/eye.png" alt="">
                                1032
                            </li>
                        </ul>
                        <div class="card__news-big_title">
                            Президент поручил ввести уголовное наказание за
                            пропаганду наркотиков в Сети
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <div class="home-5__aside">
                    <div class="card__news-history">
                        <div class="card__news_info">
                            <div class="card__news_info_left">
                                <img src="../../assets/img/icons/date.png" alt="">
                                23 сентября 2017
                            </div>
                            <div class="card__news_info_right">
                                <img src="../../assets/img/icons/eye-gray.png" alt="">
                                1032
                            </div>
                        </div>
                        <a href="/" class="card__news_title">Интерес из поднебесной</a>
                        <div class="card__news_desc">
                            Динамика средней стоимости квадратного метра квартиры за
                            2016-2017 год в Москве, Королеве и Мытищах.
                        </div>
                        <a href="/" class="card__news-history_link text-primary">Читать....</a>
                    </div>
                    <div class="card__news-history">
                        <div class="card__news_info">
                            <div class="card__news_info_left">
                                <img src="../../assets/img/icons/date.png" alt="">
                                23 сентября 2017
                            </div>
                            <div class="card__news_info_right">
                                <img src="../../assets/img/icons/eye-gray.png" alt="">
                                79
                            </div>
                        </div>
                        <a href="/" class="card__news_title">Как я стал Русским</a>
                        <div class="card__news_desc">
                            Динамика средней стоимости квадратного метра квартиры за
                            2016-2017 год в Москве, Королеве и Мытищах.
                        </div>
                        <a href="/" class="card__news-history_link text-primary">Читать....</a>
                    </div>
                    <div class="card__news-history">
                        <div class="card__news_info">
                            <div class="card__news_info_left">
                                <img src="../../assets/img/icons/date.png" alt="">
                                23 сентября 2017
                            </div>
                            <div class="card__news_info_right">
                                <img src="../../assets/img/icons/eye-gray.png" alt="">
                                520
                            </div>
                        </div>
                        <a href="/" class="card__news_title">Утомленные кризисом</a>
                        <div class="card__news_desc">
                            Динамика средней стоимости квадратного метра квартиры за
                            2016-2017 год в Москве, Королеве и Мытищах.
                        </div>
                        <a href="/" class="card__news-history_link text-primary">Читать....</a>
                    </div>
                </div>
                <!-- /.home-5__aside -->
            </div>
        </div>
        <!-- /.row -->
        <div class="row mt-4">
            <div class="col-4">
                <a href="/" class="card__news">
                    <div class="card__news_img">
                        <img src="../../assets/img/home-5/card-1.png" alt="">
                    </div>
                    <div class="card__news_content">
                        <div class="card__news_info">
                            <div class="card__news_info_left">
                                <img src="../../assets/img/icons/date.png" alt="">
                                23 сентября 2017
                            </div>
                            <div class="card__news_info_right">
                                <img src="../../assets/img/icons/eye-gray.png" alt="">
                                1032
                            </div>
                        </div>
                        <div class="card__news_title">Интерес из Поднебесной</div>
                        <div class="card__news_desc">
                            Динамика средней стоимости квадратного метра квартиры за
                            2016-2017 год в Москве, Королеве и Мытищах.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="/" class="card__news">
                    <div class="card__news_img">
                        <img src="../../assets/img/home-5/card-2.png" alt="">
                    </div>
                    <div class="card__news_content">
                        <div class="card__news_info">
                            <div class="card__news_info_left">
                                <img src="../../assets/img/icons/date.png" alt="">
                                23 сентября 2017
                            </div>
                            <div class="card__news_info_right">
                                <img src="../../assets/img/icons/eye-gray.png" alt="">
                                1032
                            </div>
                        </div>
                        <div class="card__news_title">Как я стал Русским</div>
                        <div class="card__news_desc">
                            Динамика средней стоимости квадратного метра квартиры за
                            2016-2017 год в Москве, Королеве и Мытищах.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="/" class="card__news">
                    <div class="card__news_img">
                        <img src="../../assets/img/home-5/card-3.png" alt="">
                    </div>
                    <div class="card__news_content">
                        <div class="card__news_info">
                            <div class="card__news_info_left">
                                <img src="../../assets/img/icons/date.png" alt="">
                                23 сентября 2017
                            </div>
                            <div class="card__news_info_right">
                                <img src="../../assets/img/icons/eye-gray.png" alt="">
                                1032
                            </div>
                        </div>
                        <div class="card__news_title">Утомленные кризисом</div>
                        <div class="card__news_desc">
                            Динамика средней стоимости квадратного метра квартиры за
                            2016-2017 год в Москве, Королеве и Мытищах.
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-5 -->