/* Card Arrivals */
.card__arrivals {
  border-radius: 5px;
  box-shadow: 0 0 32px 3px rgba(180, 179, 179, 0.05);
  background-color: $white;
  overflow: hidden;
  transition: .3s;
  &:hover {
    box-shadow: 0 0 13px rgba(180, 179, 179, 0.11);
    .slick-prev,
    .slick-next {
      opacity: 1;
    }
    .slider__count_counter {
      opacity: 1;
    }
  }
  .slick-prev,
  .slick-next {
    opacity: 0;
  }
  .slider__count_counter {
    opacity: 0;
  }
}

.card__arrivals_head {
  position: relative;
}

.card__arrivals_content {
  padding: 15px 20px 0;
}

.card__arrivals_title {
  font-weight: 700;
  font-size: 20px;
  color: $black;
}

.card__arrivals_address {
  margin-top: 10px;
  font-weight: 300;
  color: $black;
}

.card__arrivals_price {
  margin-top: 10px;
  font-weight: 700;
  font-size: 24px;
  color: $black;
  img {
    display: inline;
  }
}

.card__arrivals_floor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.card__arrivals_floor_left {
  display: flex;
  align-items: center;
  img {
    display: inline;
    margin-right: 5px;
  }
}

.card__arrivals_floor_right {
  font-weight: 300;
  color: #adadad;
}

.card__arrivals_location {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
}

.card__arrivals_location_left {
  img {
    display: inline;
    margin-right: 5px;
  }
}

.card__arrivals_location_right {
  font-weight: 300;
  color: #adadad;
}


/* Card Circle */
.card__circle {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 200px;
  padding: 35px 20px;
  box-shadow: -5px 0 13px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: $white;
  &:hover {
    &:before {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 103px;
    height: 84px;
    border-radius: 100% 0 0 100% / 100% 100% 0 0;
    background-color: rgba(#4abef7, .1);
    transition: .3s;
  }
}

.card__circle_title {
  font-weight: 600;
  font-size: 20px;
  color: #1c1b1b;
}

.card__circle_desc {
  margin-top: 10px;
  font-weight: 300;
  font-size: 13px;
  color: #adadad;
  line-height: 1.8;
}

.card__circle_icon {
  position: absolute;
  bottom: 15px;
  right: 25px;
}



/* Card News */
.card__news {
  border-radius: 5px;
  box-shadow: 0 0 32px 3px rgba(180, 179, 179, 0.05);
  background-color: $white;
  overflow: hidden;
  transition: .3s;
  &:hover {
    box-shadow: 0 0 13px rgba(180, 179, 179, 0.11);
  }
}

.card__news_content {
  padding: 20px 20px 50px;
}

.card__news_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
  img {
    margin-right: 8px;
  }
}

.card__news_info_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  color: #060606;
}

.card__news_info_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #adadad;
}

.card__news_title {
  display: inline-block;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  color: $black;
}

.card__news_desc {
  font-weight: 300;
  color: #514e4e;
  line-height: 1.8;
}



/* Card News Big */
.card__news-big {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.card__news-big_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  img {
    max-width: none;
    max-height: none;
  }
}

.card__news-big_content {
  position: absolute;
  left: 0;
  bottom: 45px;
  max-width: 700px;
  padding: 0 35px;
}

.card__news-big_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card__news-big_info_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  font-weight: 300;
  color: #dfdcdc;
  white-space: nowrap;
  img {
    margin-right: 10px;
  }
}

.card__news-big_title {
  margin-top: 10px;
  text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
  color: $white;
  font-size: 24px;
  font-weight: 700;
}



/* Card News History */
.card__news-history {
  padding: 20px 0;
  border-bottom: 2px solid #f3f3f3;
  &:last-child {
    border: none;
  }
  .card__news_title {
    margin-top: 5px;
  }
}

.card__news-history_link {
  display: inline-block;
  margin-top: 5px;
  font-weight: 300;
}