.card__arrivals {
  border-radius: 5px;
  box-shadow: 0 0 32px 3px rgba(180, 179, 179, 0.05);
  background-color: $white;
  overflow: hidden;
  transition: .3s;
  &:hover {
    box-shadow: 0 0 13px rgba(180, 179, 179, 0.11);
    .slick-prev,
    .slick-next {
      opacity: 1;
    }
    .card__arrivals_slider_counter {
      opacity: 1;
    }
  }
}

.card__arrivals_head {
  position: relative;
}

.card__arrivals_slider {
  border-radius: 5px;
  overflow: hidden;
  .slick-prev,
  .slick-next {
    width: 10px;
    height: 10px;
    border: 1px solid #585858;;
    border-top-color: transparent;
    border-left-color: transparent;
    opacity: 0;
    transition: .3s;
    &:before {
      content: '';
    }
    &:focus {
      outline: none;
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
  .slick-prev {
    left: 15px;
    transform: rotate(135deg);
  }
  .slick-next {
    right: 15px;
    transform: rotate(-45deg);
  }
}

.card__arrivals_slider_counter {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px 10px 4px 35px;
  border-radius: 0 5px 0 5px;
  background-color: rgba($black, .7);
  font-weight: 300;
  font-size: 12px;
  color: $white;
  opacity: 0;
  transition: .3s;
  z-index: 2000;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 36.174 36.174' style='enable-background:new 0 0 36.174 36.174;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M23.921,20.528c0,3.217-2.617,5.834-5.834,5.834s-5.833-2.617-5.833-5.834s2.616-5.834,5.833-5.834 S23.921,17.312,23.921,20.528z M36.174,12.244v16.57c0,2.209-1.791,4-4,4H4c-2.209,0-4-1.791-4-4v-16.57c0-2.209,1.791-4,4-4h4.92 V6.86c0-1.933,1.566-3.5,3.5-3.5h11.334c1.934,0,3.5,1.567,3.5,3.5v1.383h4.92C34.383,8.244,36.174,10.035,36.174,12.244z M26.921,20.528c0-4.871-3.963-8.834-8.834-8.834c-4.87,0-8.833,3.963-8.833,8.834s3.963,8.834,8.833,8.834 C22.958,29.362,26.921,25.399,26.921,20.528z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23FFFFFF'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.card__arrivals_content {
  padding: 15px 20px 0;
}

.card__arrivals_title {
  font-weight: 700;
  font-size: 20px;
  color: $black;
}

.card__arrivals_address {
  margin-top: 10px;
  font-weight: 300;
  color: $black;
}

.card__arrivals_price {
  margin-top: 10px;
  font-weight: 700;
  font-size: 24px;
  color: $black;
  img {
    display: inline;
  }
}

.card__arrivals_floor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.card__arrivals_floor_left {
  display: flex;
  align-items: center;
  img {
    display: inline;
    margin-right: 5px;
  }
}

.card__arrivals_floor_right {
  font-weight: 300;
  color: #adadad;
}

.card__arrivals_location {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
}

.card__arrivals_location_left {
  img {
    display: inline;
    margin-right: 5px;
  }
}

.card__arrivals_location_right {
  font-weight: 300;
  color: #adadad;
}