/* Card Arrivals */
.card__arrivals {
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 32px 3px rgba(180, 179, 179, 0.05);
  background-color: $white;
  overflow: hidden;
  transition: .3s;
  &:hover {
    box-shadow: 0 0 13px rgba(180, 179, 179, 0.11);
    .card__arrivals_star {
      opacity: 1;
      visibility: visible;
    }
    .slick-prev,
    .slick-next {
      opacity: 1;
    }
    .slider__count_counter {
      opacity: 1;
    }
  }
  .slick-prev,
  .slick-next {
    opacity: 0;
  }
  .slider__count_counter {
    opacity: 0;
  }
}

.card__arrivals_star {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba($white, .5);
  z-index: 3000;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  &.active {
    &:before {
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 512.002 512.002' style='enable-background:new 0 0 512.002 512.002;' xml:space='preserve' width='512px' height='512px' class=''%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M511.267,197.258c-1.764-5.431-6.457-9.389-12.107-10.209l-158.723-23.065L269.452,20.157 c-2.526-5.12-7.741-8.361-13.45-8.361c-5.71,0-10.924,3.241-13.451,8.361l-70.988,143.827l-158.72,23.065 c-5.649,0.82-10.344,4.778-12.108,10.208c-1.765,5.431-0.293,11.392,3.796,15.377l114.848,111.954L92.271,482.671 c-0.966,5.628,1.348,11.314,5.967,14.671c2.613,1.898,5.708,2.864,8.818,2.864c2.388,0,4.784-0.569,6.978-1.723l141.967-74.638 l141.961,74.637c5.055,2.657,11.178,2.215,15.797-1.141c4.619-3.356,6.934-9.044,5.969-14.672l-27.117-158.081l114.861-111.955 C511.56,208.649,513.033,202.688,511.267,197.258z' fill='%23F5152E'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='512' viewBox='0 -10 511.98685 511' width='512' class=''%3E%3Cg%3E%3Cpath d='m114.59375 491.140625c-5.609375 0-11.179688-1.75-15.933594-5.1875-8.855468-6.417969-12.992187-17.449219-10.582031-28.09375l32.9375-145.089844-111.703125-97.960937c-8.210938-7.167969-11.347656-18.519532-7.976562-28.90625 3.371093-10.367188 12.542968-17.707032 23.402343-18.710938l147.796875-13.417968 58.433594-136.746094c4.308594-10.046875 14.121094-16.535156 25.023438-16.535156 10.902343 0 20.714843 6.488281 25.023437 16.511718l58.433594 136.769532 147.773437 13.417968c10.882813.980469 20.054688 8.34375 23.425782 18.710938 3.371093 10.367187.253906 21.738281-7.957032 28.90625l-111.703125 97.941406 32.9375 145.085938c2.414063 10.667968-1.726562 21.699218-10.578125 28.097656-8.832031 6.398437-20.609375 6.890625-29.910156 1.300781l-127.445312-76.160156-127.445313 76.203125c-4.308594 2.558594-9.109375 3.863281-13.953125 3.863281zm141.398438-112.875c4.84375 0 9.640624 1.300781 13.953124 3.859375l120.277344 71.9375-31.085937-136.941406c-2.21875-9.746094 1.089843-19.921875 8.621093-26.515625l105.472657-92.5-139.542969-12.671875c-10.046875-.917969-18.6875-7.234375-22.613281-16.492188l-55.082031-129.046875-55.148438 129.066407c-3.882812 9.195312-12.523438 15.511718-22.546875 16.429687l-139.5625 12.671875 105.46875 92.5c7.554687 6.613281 10.859375 16.769531 8.621094 26.539062l-31.0625 136.9375 120.277343-71.914062c4.308594-2.558594 9.109376-3.859375 13.953126-3.859375zm-84.585938-221.847656s0 .023437-.023438.042969zm169.128906-.0625.023438.042969c0-.023438 0-.023438-.023438-.042969zm0 0' class='active-path' style='fill:%23F5152E'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.card__arrivals_head {
  position: relative;
}

.card__arrivals_content {
  padding: 15px 20px 0;
}

.card__arrivals_title {
  font-weight: 700;
  font-size: 20px;
  color: $black;
}

.card__arrivals_address {
  margin-top: 10px;
  font-weight: 300;
  color: $black;
}

.card__arrivals_price {
  margin-top: 10px;
  font-weight: 700;
  font-size: 24px;
  color: $black;
  img {
    display: inline;
  }
}

.card__arrivals_floor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.card__arrivals_floor_left {
  display: flex;
  align-items: center;
  img {
    display: inline;
    margin-right: 5px;
  }
}

.card__arrivals_floor_right {
  font-weight: 300;
  color: #adadad;
}

.card__arrivals_location {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
}

.card__arrivals_location_left {
  img {
    display: inline;
    margin-right: 5px;
  }
}

.card__arrivals_location_right {
  font-weight: 300;
  color: #adadad;
}


/* Card Circle */
.card__circle {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 200px;
  padding: 35px 20px;
  box-shadow: -5px 0 13px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: $white;
  &:hover {
    &:before {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 103px;
    height: 84px;
    border-radius: 100% 0 0 100% / 100% 100% 0 0;
    background-color: rgba(#4abef7, .1);
    transition: .3s;
  }
}

.card__circle_title {
  font-weight: 600;
  font-size: 20px;
  color: #1c1b1b;
}

.card__circle_desc {
  margin-top: 10px;
  font-weight: 300;
  font-size: 13px;
  color: #adadad;
  line-height: 1.8;
}

.card__circle_icon {
  position: absolute;
  bottom: 15px;
  right: 25px;
}



/* Card News */
.card__news {
  border-radius: 5px;
  box-shadow: 0 0 32px 3px rgba(180, 179, 179, 0.05);
  background-color: $white;
  overflow: hidden;
  transition: .3s;
  &:hover {
    box-shadow: 0 0 13px rgba(180, 179, 179, 0.11);
  }
}

.card__news_content {
  padding: 20px 20px 50px;
}

.card__news_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 12px;
  img {
    margin-right: 8px;
  }
}

.card__news_info_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
  color: #060606;
}

.card__news_info_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #adadad;
}

.card__news_title {
  display: inline-block;
  margin-top: 10px;
  font-weight: 700;
  font-size: 18px;
  color: $black;
}

.card__news_desc {
  font-weight: 300;
  color: #514e4e;
  line-height: 1.8;
}



/* Card News Big */
.card__news-big {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.card__news-big_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  img {
    max-width: none;
    max-height: none;
  }
}

.card__news-big_content {
  position: absolute;
  left: 0;
  bottom: 45px;
  max-width: 700px;
  padding: 0 35px;
}

.card__news-big_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card__news-big_info_item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  font-weight: 300;
  color: #dfdcdc;
  white-space: nowrap;
  img {
    margin-right: 10px;
  }
}

.card__news-big_title {
  margin-top: 10px;
  text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
  color: $white;
  font-size: 24px;
  font-weight: 700;
}



/* Card News History */
.card__news-history {
  padding: 20px 0;
  border-bottom: 2px solid #f3f3f3;
  &:last-child {
    border: none;
  }
  .card__news_title {
    margin-top: 5px;
  }
}

.card__news-history_link {
  display: inline-block;
  margin-top: 5px;
  font-weight: 300;
}