<div class="home-2">
    <div class="container">
        <div class="home-2__head">
            <div class="home-2__head_left">
                <div class="h2">Новые поступления</div>
                <ul class="home-2__tab">
                    <li class="home-2__tab_item">
                        <a href="/" class="home-2__tab_link">Все</a>
                    </li>
                    <li class="home-2__tab_item">
                        <a href="/" class="home-2__tab_link">Продать</a>
                    </li>
                    <li class="home-2__tab_item">
                        <a href="/" class="home-2__tab_link">Сдать</a>
                    </li>
                </ul>
                <!-- /.home-2__tab -->
            </div>
            <!-- /.home-2__head_left -->
            <div class="home-2__head_right"></div>
            <!-- /.home-2__head_right -->
            <div class="home-2__arrows">
                <div class="home-2__arrow home-2__arrow_prev"></div>
                <div class="home-2__arrow home-2__arrow_next"></div>
            </div>
            <!-- /.home-2__arrows -->
        </div>
        <div class="home-2__slider">
            <div class="card__arrivals">
                <div class="card__arrivals_head">
                    <div class="slider__count">
                        <div class="slider__count_counter"></div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-1.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-2.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-3.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- /.slider__count -->
                </div>
                <!-- /.card__arrivals_head -->
                <div class="card__arrivals_content">
                    <div class="card__arrivals_title">3 к квартира 150/86/24м2</div>
                    <div class="card__arrivals_address">г. Москва, ул. Свердлова д. 103</div>
                    <div class="card__arrivals_price">
                        2 600 000
                        <img src="../../assets/img/svg/rub.svg" alt="">
                    </div>
                    <div class="card__arrivals_floor">
                        <div class="card__arrivals_floor_left">
                            <img src="../../assets/img/icons/floor.png" alt="">
                            этаж
                        </div>
                        <div class="card__arrivals_floor_right">3 / 15</div>
                    </div>
                    <div class="card__arrivals_location">
                        <div class="card__arrivals_location_left">
                            <img src="../../assets/img/icons/M.png" alt="">
                            Белорусская
                        </div>
                        <div class="card__arrivals_location_right">5 мин. пешком</div>
                    </div>
                </div>
                <!-- /.card__arrivals_content -->
            </div>
            <!-- /.card__arrivals -->
            <div class="card__arrivals">
                <div class="card__arrivals_head">
                    <div class="slider__count">
                        <div class="slider__count_counter"></div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-1.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-2.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-3.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- /.slider__count -->
                </div>
                <!-- /.card__arrivals_head -->
                <div class="card__arrivals_content">
                    <div class="card__arrivals_title">3 к квартира 150/86/24м2</div>
                    <div class="card__arrivals_address">г. Москва, ул. Свердлова д. 103</div>
                    <div class="card__arrivals_price">
                        2 600 000
                        <img src="../../assets/img/svg/rub.svg" alt="">
                    </div>
                    <div class="card__arrivals_floor">
                        <div class="card__arrivals_floor_left">
                            <img src="../../assets/img/icons/floor.png" alt="">
                            этаж
                        </div>
                        <div class="card__arrivals_floor_right">3 / 15</div>
                    </div>
                    <div class="card__arrivals_location">
                        <div class="card__arrivals_location_left">
                            <img src="../../assets/img/icons/M.png" alt="">
                            Белорусская
                        </div>
                        <div class="card__arrivals_location_right">5 мин. пешком</div>
                    </div>
                </div>
                <!-- /.card__arrivals_content -->
            </div>
            <!-- /.card__arrivals -->
            <div class="card__arrivals">
                <div class="card__arrivals_head">
                    <div class="slider__count">
                        <div class="slider__count_counter"></div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-1.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-2.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-3.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- /.slider__count -->
                </div>
                <!-- /.card__arrivals_head -->
                <div class="card__arrivals_content">
                    <div class="card__arrivals_title">3 к квартира 150/86/24м2</div>
                    <div class="card__arrivals_address">г. Москва, ул. Свердлова д. 103</div>
                    <div class="card__arrivals_price">
                        2 600 000
                        <img src="../../assets/img/svg/rub.svg" alt="">
                    </div>
                    <div class="card__arrivals_floor">
                        <div class="card__arrivals_floor_left">
                            <img src="../../assets/img/icons/floor.png" alt="">
                            этаж
                        </div>
                        <div class="card__arrivals_floor_right">3 / 15</div>
                    </div>
                    <div class="card__arrivals_location">
                        <div class="card__arrivals_location_left">
                            <img src="../../assets/img/icons/M.png" alt="">
                            Белорусская
                        </div>
                        <div class="card__arrivals_location_right">5 мин. пешком</div>
                    </div>
                </div>
                <!-- /.card__arrivals_content -->
            </div>
            <!-- /.card__arrivals -->
            <div class="card__arrivals">
                <div class="card__arrivals_head">
                    <div class="slider__count">
                        <div class="slider__count_counter"></div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-1.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-2.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-3.png" alt="">
                            </div>
                        </div>
                        <div class="slider__count_item">
                            <div class="slider__count_img">
                                <img src="../../assets/img/card/card__arrivals_slide-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- /.slider__count -->
                </div>
                <!-- /.card__arrivals_head -->
                <div class="card__arrivals_content">
                    <div class="card__arrivals_title">3 к квартира 150/86/24м2</div>
                    <div class="card__arrivals_address">г. Москва, ул. Свердлова д. 103</div>
                    <div class="card__arrivals_price">
                        2 600 000
                        <img src="../../assets/img/svg/rub.svg" alt="">
                    </div>
                    <div class="card__arrivals_floor">
                        <div class="card__arrivals_floor_left">
                            <img src="../../assets/img/icons/floor.png" alt="">
                            этаж
                        </div>
                        <div class="card__arrivals_floor_right">3 / 15</div>
                    </div>
                    <div class="card__arrivals_location">
                        <div class="card__arrivals_location_left">
                            <img src="../../assets/img/icons/M.png" alt="">
                            Белорусская
                        </div>
                        <div class="card__arrivals_location_right">5 мин. пешком</div>
                    </div>
                </div>
                <!-- /.card__arrivals_content -->
            </div>
            <!-- /.card__arrivals -->
        </div>
        <!-- /.home-2__slider -->
    </div>
    <!-- /.container -->
</div>
<!-- /.home-2 -->