<div class="intro">
    <div class="intro__add">
        <div class="container">
            <div class="intro__add_btn">
                <button class="btn">
                    <img src="../../assets/img/icons/add-plus.png" alt="">
                    Добавить объект
                </button>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro__add -->
    <div class="intro__slider">
        <div class="intro__slide slide-1">
            <div class="container">
                <div class="intro__slide_content">
                    <div class="intro__subtitle">Сервис Аукцион</div>
                    <div class="intro__title">
                        Когда главный ресурс - это время
                    </div>
                    <div class="intro__desc">
                        Предложения поступают постоянно и видны только вам. Вы сами решаете, когда <br>
                        остановить «торги» и заключить сделку.
                    </div>
                    <ul class="slide-1__list">
                        <li class="slide-1__list_item">
                            <a href="/" class="slide-1__list_item_link">
                                <div class="slide-1__list_item_link_content-show">
                                    Пройдите простую <br>
                                    регистрацию <span>&#10141;</span>
                                </div>
                                <div class="slide-1__list_item_link_content-hide">
                                    Зарегистрироваться
                                    <span>&#10141;</span>
                                </div>
                            </a>
                        </li>
                        <li class="slide-1__list_item">
                            <a href="/" class="slide-1__list_item_link">
                                <div class="slide-1__list_item_link_content-show">
                                    Добавьте объект <br>
                                    в работу <span>&#10141;</span>
                                </div>
                                <div class="slide-1__list_item_link_content-hide">
                                    Добавить объект
                                    <span>&#10141;</span>
                                </div>
                            </a>
                        </li>
                        <li class="slide-1__list_item">
                            <a href="/" class="slide-1__list_item_link">
                                <div class="slide-1__list_item_link_content-show">
                                    Следите за предложениями <br>
                                    в Личном кабинете <span>&#10141;</span>
                                </div>
                                <div class="slide-1__list_item_link_content-hide">
                                    Личный кабинет
                                    <span>&#10141;</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.slide-1__list -->
                </div>
                <!-- /.intro__slide_content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro__slide -->
        <div class="intro__slide slide-2">
            <div class="container">
                <div class="intro__slide_content">
                    <div class="intro__title">
                        iRealty проверяет каждый объект
                    </div>
                    <div class="intro__desc">
                        Ищите объекты и изучайте сведения из ЕГРН в одном месте. Это удобно и надежно
                    </div>
                    <ul class="slide-2__tabs list-group">
                        <li class="slide-2__tabs_item">
                            <a class="slide-2__tabs_link active" id="list-sale-list" data-toggle="list"
                               href="#list-sale">Продажа</a>
                        </li>
                        <li class="slide-2__tabs_item">
                            <a class="slide-2__tabs_link" id="list-rent-list" data-toggle="list" href="#list-rent">Аренда</a>
                        </li>
                        <li class="slide-2__tabs_item">
                            <a class="slide-2__tabs_link" id="list-daily-list" data-toggle="list" href="#list-daily">Посуточно</a>
                        </li>
                    </ul>
                    <!-- /.slide-2__tabs -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="list-sale">
                            <form class="intro__form">
                                <div class="intro__form_grid-1">
                                    <div class="intro__form_type dropdown">
                                        <div class="dropdown-toggle" id="intro__form_type-1"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Тип объекта
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_type-1">
                                            <div class="intro__form_type_title text-primary">Жилая</div>
                                            <div class="intro__form_type_list">
                                                <a class="dropdown-item" href="#intro__form_type-1">квартира</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">комната</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">дом</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">таунхаус</a>
                                            </div>
                                            <div class="intro__form_type_title text-primary">Коммерческая</div>
                                            <div class="intro__form_type_list">
                                                <a class="dropdown-item" href="#intro__form_type-1">офис</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">склад</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">производство</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">торговая площадь</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">ПСН</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">здания</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">гараж</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">бокс</a>
                                                <a class="dropdown-item" href="#intro__form_type-1">машиноместо</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="intro__form_room dropdown">
                                        <div class="dropdown-toggle" id="intro__form_room-1"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Комнат
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_room-1">
                                            <a class="dropdown-item" href="#intro__form_room-1">студия</a>
                                            <a class="dropdown-item" href="#intro__form_room-1">1</a>
                                            <a class="dropdown-item" href="#intro__form_room-1">2</a>
                                            <a class="dropdown-item" href="#intro__form_room-1">3</a>
                                            <a class="dropdown-item" href="#intro__form_room-1">4</a>
                                        </div>
                                    </div>
                                    <div class="intro__form_area dropdown">
                                        <div class="dropdown-toggle" id="intro__form_area-1"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Метраж
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_area-1">
                                            <a class="dropdown-item" href="#intro__form_area-1">от 5</a>
                                            <a class="dropdown-item" href="#intro__form_area-1">от10</a>
                                            <a class="dropdown-item" href="#intro__form_area-1">от 15</a>
                                            <a class="dropdown-item" href="#intro__form_area-1">от 20</a>
                                            <a class="dropdown-item" href="#intro__form_area-1">от 25</a>
                                        </div>
                                    </div>
                                    <div class="intro__form_price dropdown">
                                        <div class="dropdown-toggle" id="intro__form_price-1"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Цена
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_price-1">
                                            <div class="intro__form_price_range">
                                                <label>
                                                    <input type="number" min="0" step="1" placeholder="от">
                                                </label>
                                                <label>
                                                    <input type="number" min="0" step="1" placeholder="до">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <label>
                                        <input class="intro__form_text" type="text"
                                               placeholder="Город, ЖК,БЦ,ТЦ адрес, метро, район, ж/д, шоссе">
                                    </label>
                                </div>
                                <button>Найти</button>
                            </form>
                            <!-- /.form -->
                        </div>
                        <div class="tab-pane fade" id="list-rent">
                            <form class="intro__form">
                                <div class="intro__form_grid-1">
                                    <div class="intro__form_type dropdown">
                                        <div class="dropdown-toggle" id="intro__form_type-2"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Тип объекта
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_type-2">
                                            <div class="intro__form_type_title text-primary">Жилая</div>
                                            <div class="intro__form_type_list">
                                                <a class="dropdown-item" href="#intro__form_type-2">квартира</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">комната</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">новостройка</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">дом</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">таунхаус</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">участок</a>
                                            </div>
                                            <div class="intro__form_type_title text-primary">Коммерческая</div>
                                            <div class="intro__form_type_list">
                                                <a class="dropdown-item" href="#intro__form_type-2">офис</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">склад</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">производство</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">торговая площадь</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">ПСН</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">здания</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">гараж</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">бокс</a>
                                                <a class="dropdown-item" href="#intro__form_type-2">машиноместо</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="intro__form_room dropdown">
                                        <div class="dropdown-toggle" id="intro__form_room-2"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Комнат
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_room-2">
                                            <a class="dropdown-item" href="#intro__form_room-2">студия</a>
                                            <a class="dropdown-item" href="#intro__form_room-2">1</a>
                                            <a class="dropdown-item" href="#intro__form_room-2">2</a>
                                            <a class="dropdown-item" href="#intro__form_room-2">3</a>
                                            <a class="dropdown-item" href="#intro__form_room-2">4</a>
                                        </div>
                                    </div>
                                    <div class="intro__form_area dropdown">
                                        <div class="dropdown-toggle" id="intro__form_area-2"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Метраж
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_area-2">
                                            <a class="dropdown-item" href="#intro__form_area-2">от 5</a>
                                            <a class="dropdown-item" href="#intro__form_area-2">от10</a>
                                            <a class="dropdown-item" href="#intro__form_area-2">от 15</a>
                                            <a class="dropdown-item" href="#intro__form_area-2">от 20</a>
                                            <a class="dropdown-item" href="#intro__form_area-2">от 25</a>
                                        </div>
                                    </div>
                                    <div class="intro__form_price dropdown">
                                        <div class="dropdown-toggle" id="intro__form_price-2"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Цена
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_price-1">
                                            <div class="intro__form_price_range">
                                                <label>
                                                    <input type="number" min="0" step="1" placeholder="от">
                                                </label>
                                                <label>
                                                    <input type="number" min="0" step="1" placeholder="до">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <label>
                                        <input class="intro__form_text" type="text"
                                               placeholder="Город, ЖК,БЦ,ТЦ адрес, метро, район, ж/д, шоссе">
                                    </label>
                                </div>
                                <button>Найти</button>
                            </form>
                            <!-- /.form -->
                        </div>
                        <div class="tab-pane fade" id="list-daily">
                            <form class="intro__form">
                                <div class="intro__form_grid-1">
                                    <div class="intro__form_type daily dropdown">
                                        <div class="dropdown-toggle" id="intro__form_type-3"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Тип объекта
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_type-3">
                                            <a class="dropdown-item" href="#intro__form_type-1">квартира</a>
                                            <a class="dropdown-item" href="#intro__form_type-1">дом</a>
                                        </div>
                                    </div>
                                    <label>
                                        <input type="date" placeholder="Даты">
                                    </label>
                                    <div class="intro__form_area dropdown">
                                        <div class="dropdown-toggle" id="intro__form_area-3"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Состав
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_area-3">
                                            <a class="dropdown-item" href="#intro__form_area-1">Взрослые</a>
                                            <a class="dropdown-item" href="#intro__form_area-1">Дети</a>
                                        </div>
                                    </div>
                                    <div class="intro__form_price dropdown">
                                        <div class="dropdown-toggle" id="intro__form_price-3"
                                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Цена
                                        </div>
                                        <div class="dropdown-menu" aria-labelledby="intro__form_price-3">
                                            <div class="intro__form_price_range">
                                                <label>
                                                    <input type="number" min="0" step="1" placeholder="от">
                                                </label>
                                                <label>
                                                    <input type="number" min="0" step="1" placeholder="до">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <label>
                                        <input class="intro__form_text" type="text"
                                               placeholder="Город, ЖК,БЦ,ТЦ адрес, метро, район, ж/д, шоссе">
                                    </label>
                                </div>
                                <button>Найти</button>
                            </form>
                            <!-- /.form -->
                        </div>
                    </div>
                    <!-- /.tab-content -->
                    <div class="row mt-5">
                        <div class="col-6">
                            <div class="slide-2__slider">
                                <div class="slide-2__slider_item">
                                    <div class="slide-2__slider_title">ЖК «Москва Сити»</div>
                                    <ul class="slide-2__slider_list">
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">1-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 35 933</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">2-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 24 354</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">3-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 12 234</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">машиноместа</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 7 252</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">ком. недвижимость</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 34 238</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slide-2__slider_item">
                                    <div class="slide-2__slider_title">ЖК «Київ»</div>
                                    <ul class="slide-2__slider_list">
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">1-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 35 933</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">2-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 24 354</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">3-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 12 234</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">машиноместа</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 7 252</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">ком. недвижимость</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 34 238</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slide-2__slider_item">
                                    <div class="slide-2__slider_title">ЖК «Львів»</div>
                                    <ul class="slide-2__slider_list">
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">1-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 35 933</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">2-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 24 354</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">3-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 12 234</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">машиноместа</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 7 252</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">ком. недвижимость</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 34 238</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slide-2__slider_item">
                                    <div class="slide-2__slider_title">ЖК «Одеса»</div>
                                    <ul class="slide-2__slider_list">
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">1-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 35 933</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">2-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 24 354</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">3-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 12 234</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">машиноместа</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 7 252</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">ком. недвижимость</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 34 238</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="slide-2__slider_item">
                                    <div class="slide-2__slider_title">ЖК «Харків»</div>
                                    <ul class="slide-2__slider_list">
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">1-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 35 933</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">2-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 24 354</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">3-комнатные</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 12 234</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">машиноместа</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 7 252</span>
                                            </a>
                                        </li>
                                        <li class="slide-2__slider_list_item">
                                            <a href="/" class="slide-2__slider_list_item_link">
                                                <span class="slide-2__slider_list_item_link_name">ком. недвижимость</span>
                                                <span class="slide-2__slider_list_item_link_value"> - 34 238</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /.slide-2__slider -->
                        </div>
                        <div class="col-6">
                            <div class="slide-2__btn">
                                <button class="btn">
                                    <img src="../../assets/img/icons/N.png" alt="">
                                    Поиск на карте
                                </button>
                                <button class="btn">Создать свой запрос</button>
                            </div>
                            <div class="slide-2__desc">
                                Воспользуйтесь умным поиском iRealty и найдите <br>
                                объект подходящий именно вам
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.intro__slide_content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro__slide -->
        <div class="intro__slide slide-3">
            <div class="container">
                <div class="intro__slide_content">
                    <div class="intro__subtitle">Участвуйте в аукционах</div>
                    <div class="intro__title">
                        Приобретайте недвижимость на самых <br>
                        выгодных условия
                    </div>
                    <div class="intro__desc">
                        Вы можете участвовать сразу в нескольких торгах без обязательства заключать сделку если ваша
                        цена выиграла
                    </div>
                    <div class="slide-3__btn">
                        <button class="btn">Начать поиск</button>
                        <button class="btn">Зарегистрироваться</button>
                    </div>
                    <ul class="slide-3__list">
                        <li class="slide-3__list_item">
                            <div class="slide-3__list_item_number">01</div>
                            <div class="slide-3__list_item_title">Выберите объект</div>
                        </li>
                        <li class="slide-3__list_item">
                            <div class="slide-3__list_item_number">02</div>
                            <div class="slide-3__list_item_title">Предложите свою цену</div>
                        </li>
                        <li class="slide-3__list_item">
                            <div class="slide-3__list_item_number">03</div>
                            <div class="slide-3__list_item_title">Ожидайте подтверждения</div>
                        </li>
                        <li class="slide-3__list_item">
                            <div class="slide-3__list_item_number">04</div>
                            <div class="slide-3__list_item_title">Создайте сделку</div>
                        </li>
                    </ul>
                    <!-- /.slide-3__list -->
                </div>
                <!-- /.intro__slide_content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro__slide -->
        <div class="intro__slide slide-4">
            <div class="container">
                <div class="intro__slide_content">
                    <div class="intro__title">
                        iRealty сделки - ваш личный офис, <br>
                        в котором вам не нужно работать
                    </div>
                    <div class="intro__desc">
                        Сервис позволяет проследить процесс реализации изнутри, делая все детали сделки <br>
                        прозрачными и доступными обеим сторонам
                    </div>
                    <div class="slide-4__btn">
                        <button class="btn">Подробнее</button>
                        <button class="btn">Создать сделку</button>
                    </div>
                    <ul class="slide-4__list">
                        <li class="slide-4__list_item">
                            <div class="slide-4__list_item_title">Контроль</div>
                            <div class="slide-4__list_item_hover">
                                <div class="slide-4__list_item_hover_title">
                                    Контроль
                                </div>
                                <div class="slide-4__list_item_hover_desc">
                                    Следите за действиями своего
                                    риелтора. Контролируйте
                                    процесс подготовки к сделке
                                </div>
                            </div>
                        </li>
                        <li class="slide-4__list_item">
                            <div class="slide-4__list_item_title">Надежность</div>
                            <div class="slide-4__list_item_hover">
                                <div class="slide-4__list_item_hover_title">
                                    Надежность
                                </div>
                                <div class="slide-4__list_item_hover_desc">
                                    Построение сделок происходит по разработанному
                                    нами уникальному алгоритму. А все сделки
                                    проверяются ведущими юристами
                                </div>
                            </div>
                        </li>
                        <li class="slide-4__list_item">
                            <div class="slide-4__list_item_title">Прозрачность</div>
                            <div class="slide-4__list_item_hover">
                                <div class="slide-4__list_item_hover_title">
                                    Прозрачность
                                </div>
                                <div class="slide-4__list_item_hover_desc">
                                    Вся информация и условия, а также любые изменения
                                    по сделке доступны on-line и обновляются в режиме
                                    реального времени. У вас не останется вопросов.
                                </div>
                            </div>
                        </li>
                        <li class="slide-4__list_item">
                            <div class="slide-4__list_item_title">Безопасность</div>
                            <div class="slide-4__list_item_hover">
                                <div class="slide-4__list_item_hover_title">
                                    Безопасность
                                </div>
                                <div class="slide-4__list_item_hover_desc">
                                    Все личные данные и документация защищены
                                    надежным SSL сертификатом и …. Деятельность
                                    компании застрахована на …..
                                </div>
                            </div>
                        </li>
                        <li class="slide-4__list_item">
                            <div class="slide-4__list_item_title">Простота</div>
                            <div class="slide-4__list_item_hover">
                                <div class="slide-4__list_item_hover_title">
                                    Простота
                                </div>
                                <div class="slide-4__list_item_hover_desc">
                                    Интуитивный интерфейс и автоматизация всех
                                    процессов позволят разобраться в тонкостях
                                    реализации недвижимости любому желающему.
                                </div>
                            </div>
                        </li>
                        <li class="slide-4__list_item">
                            <div class="slide-4__list_item_title">Результат</div>
                            <div class="slide-4__list_item_hover">
                                <div class="slide-4__list_item_hover_title">
                                    Результат
                                </div>
                                <div class="slide-4__list_item_hover_desc">
                                    Работа в системе дает уверенность в соблюдении
                                    достигнутых договоренностей и обеспечивает
                                    100% гарантированный результат
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- /.slide-4__list -->
                </div>
                <!-- /.intro__slide_content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro__slide -->
    </div>
    <!-- /.intro__slider -->
</div>
<!-- /.intro -->