<div class="intro">
    <div class="intro__add">
        <div class="container">
            <div class="intro__add_btn">
                <button class="btn">
                    <img src="../../assets/img/icons/add-plus.png" alt="">
                    Добавить объект
                </button>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro__add -->
    <div class="intro__slider">
        <div class="intro__slide slide-1">
            <div class="container">
                <div class="intro__slide_content">
                    <div class="intro__subtitle">Сервис Аукцион</div>
                    <div class="intro__title">
                        Когда главный ресурс - это время
                    </div>
                    <div class="intro__desc">
                        Предложения поступают постоянно и видны только вам. Вы сами решаете, когда
                        остановить «торги» и заключить сделку.
                    </div>
                    <ul class="slide-1__list">
                        <li class="slide-1__list_item">
                            <a href="/" class="slide-1__list_item_link">
                                <div class="slide-1__list_item_link_content-show">
                                    Пройдите простую <br>
                                    регистрацию <span>&#10141;</span>
                                </div>
                                <div class="slide-1__list_item_link_content-hide">
                                    Зарегистрироваться
                                    <span>&#10141;</span>
                                </div>
                            </a>
                        </li>
                        <li class="slide-1__list_item">
                            <a href="/" class="slide-1__list_item_link">
                                <div class="slide-1__list_item_link_content-show">
                                    Добавьте объект <br>
                                    в работу <span>&#10141;</span>
                                </div>
                                <div class="slide-1__list_item_link_content-hide">
                                    Добавить объект
                                    <span>&#10141;</span>
                                </div>
                            </a>
                        </li>
                        <li class="slide-1__list_item">
                            <a href="/" class="slide-1__list_item_link">
                                <div class="slide-1__list_item_link_content-show">
                                    Следите за предложениями <br>
                                    в Личном кабинете <span>&#10141;</span>
                                </div>
                                <div class="slide-1__list_item_link_content-hide">
                                    Личный кабинет
                                    <span>&#10141;</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.slide-1__list -->
                </div>
                <!-- /.intro__slide_content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro__slide -->
        <div class="intro__slide slide-2">
            <div class="container">
                <div class="intro__slide_content"></div>
                <!-- /.intro__slide_content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro__slide -->
        <div class="intro__slide slide-3">
            <div class="container">
                <div class="intro__slide_content"></div>
                <!-- /.intro__slide_content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro__slide -->
        <div class="intro__slide slide-4">
            <div class="container">
                <div class="intro__slide_content"></div>
                <!-- /.intro__slide_content -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.intro__slide -->
    </div>
    <!-- /.intro__slider -->
</div>
<!-- /.intro -->