.intro {
  position: relative;
}

.intro__add {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 2000;
}

.intro__add_btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .btn {
    width: 170px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 3px 9px 1px rgba(0, 0, 0, 0.2), 0 0 12px 2px rgba(74, 190, 247, 0.32);
    background-color: #2e3030;
    font-size: 12px;
    color: $primary;
    opacity: 0.8;
    &:hover {
      box-shadow: 1px 3px 9px 1px rgba(0, 0, 0, 0.2), 0 0 19px 2px rgba(74, 190, 247, 0.32);
    }
    img {
      margin-right: 12px;
    }
  }
}

.intro__slider {
  overflow: hidden;
  .slick-dots {
    top: 180px;
    left: 50%;
    bottom: auto;
    transform: rotate(90deg);
    max-width: 1290px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        width: 6px;
        height: 6px;
        padding: 0;
        border-radius: 50%;
        background-color: #e8e8e8;
        &:before {
          display: none;
        }
      }
      &.slick-active {
        button {
          width: 10px;
          height: 10px;
          box-shadow: 0 0 9px 1px rgba(74, 190, 247, 0.5);
          border: 1px solid #00b7f4;
          background-color: $white;
        }
      }
    }
  }
}

.intro__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &.slide-1 {
    background-image: url(../../assets/img/intro/slide-1.jpg);
    .intro__subtitle {
      margin-bottom: 15px;
      color: $primary;
    }
    .intro__title {
      margin-bottom: 25px;
    }
    .intro__desc {
      color: #efeded;
    }
  }
  &.slide-2 {
    background-image: url(../../assets/img/intro/slide-2.jpg);
    .intro__slide_content {
      padding-right: 75px;
    }
    .intro__title {
      margin-bottom: 15px;
    }
    .intro__desc {
      margin-bottom: 30px;
      color: $white;
    }
  }
  &.slide-3 {
    background-image: url(../../assets/img/intro/slide-3.jpg);
    .intro__subtitle {
      margin-bottom: 5px;
      color: #bd96a2;
    }
    .intro__title {
      margin-bottom: 15px;
    }
    .intro__desc {
      color: #fefefe;
    }
  }
  &.slide-4 {
    background-image: url(../../assets/img/intro/slide-4.jpg);
    .intro__title {
      margin-bottom: 25px;
    }
    .intro__desc {
      color: $white;
    }
  }
}

.intro__slide_content {
  height: 470px;
  padding-top: 50px;
}

.intro__subtitle {
  font-size: 30px;
}

.intro__title {
  font-weight: 800;
  font-size: 40px;
  color: $white;
}

.intro__desc {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.8;
}

.slide-1__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
}

.slide-1__list_item {
  margin-right: 25px;
  &:nth-child(1) {
    .slide-1__list_item_link {
      &:before {
        content: '01';
      }
    }
  }
  &:nth-child(2) {
    .slide-1__list_item_link {
      &:before {
        content: '02';
      }
    }
  }
  &:nth-child(3) {
    .slide-1__list_item_link {
      &:before {
        content: '03';
      }
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.slide-1__list_item_link {
  position: relative;
  overflow: hidden;
  width: 237px;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  box-shadow: -5px 0 35px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #2e2b2b;
  &:hover {
    background-color: #2780cc;
    &:before {
      opacity: 0.05;
      color: $white;
    }
    .slide-1__list_item_link_content-show {
      opacity: 0;
    }
    .slide-1__list_item_link_content-hide {
      opacity: 1;
    }
  }
  &:before {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    opacity: 0.02;
    text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
    color: #ffffff;
    font-weight: 800;
    font-size: 126px;
    line-height: 1;
  }
}

.slide-1__list_item_link_content-show {
  text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
  color: #f3eaea;
  transition: .3s;
  span {
    padding-left: 10px;
    color: $primary;
  }
}

.slide-1__list_item_link_content-hide {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  opacity: 0;
  transition: .3s;
  white-space: nowrap;
  span {
    padding-left: 10px;
  }
}

.slide-3__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  .btn {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 5px;
    color: $white;
    &:nth-child(1) {
      width: 205px;
      background-color: #936e79;
    }
    &:nth-child(2) {
      width: 210px;
      background-color: $primary;
    }
  }
}

.slide-3__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.slide-3__list_item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
    .slide-3__list_item_title {
      &:before {
        display: none;
      }
    }
  }
}

.slide-3__list_item_number {
  text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
  color: #714b56;
  font-weight: 800;
  font-size: 16px;
}

.slide-3__list_item_title {
  position: relative;
  text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
  font-weight: 600;
  color: #ac9ca1;
  &:before {
    content: '\00BB';
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
    color: #714b56;
    font-size: 16px;
  }
}

.slide-4__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
  .btn {
    width: 205px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border-radius: 5px;
    color: $white;
    &:nth-child(1) {
      background-color: $black;
    }
    &:nth-child(2) {
      background-color: $primary;
    }
  }
}

.slide-4__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 70px;
}

.slide-4__list_item {
  position: relative;
  margin-right: 50px;
  &:hover {
    .slide-4__list_item_hover {
      visibility: visible;
      opacity: 1;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.slide-4__list_item_title {
  position: relative;
  padding-bottom: 10px;
  text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
  color: $white;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 3px;
    box-shadow: -5px 0 35px rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    background-color: $primary;
  }
}

.slide-4__list_item_hover {
  position: absolute;
  left: -30px;
  bottom: calc(100% + 20px);
  width: 395px;
  padding: 25px 30px 40px;
  box-shadow: -5px 0 13px 1px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: #1d1c1c;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  &:before {
    content: '';
    position: absolute;
    left: 20px;
    bottom: -8px;
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: $black;
  }
}

.slide-4__list_item_hover_title {
  position: relative;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 18px;
  color: $white;
  &:before {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 30px;
    height: 3px;
    box-shadow: -5px 0 35px rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    background-color: $primary;
  }
}

.slide-4__list_item_hover_desc {
  font-weight: 300;
  color: $white;
  line-height: 2;
}

.slide-2__tabs {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: initial;
}

.slide-2__tabs_item {
  position: relative;
  margin-right: 30px;
  font-weight: 700;
  color: $white;
  &:last-child {
    margin-right: 0;
    .slide-2__tabs_link {
      &:after {
        display: none;
      }
    }
  }
}

.slide-2__tabs_link {
  font-weight: 700;
  color: #c9cacb;
  &:hover {
    color: $white;
  }
  &.active {
    font-size: 16px;
    color: $white;
  }
  &:after {
    content: '/';
    position: absolute;
    right: -20px;
  }
}

.intro__form {
  position: relative;
  margin-top: 15px;
  label {
    margin: 0;
    padding: 0;
  }
  select, input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: none;
    box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.07);
    background-color: $white;
    color: #959191;
    &::placeholder {
      color: #959191;
    }
  }
  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #09689d;
    background-image: linear-gradient(45deg, #33a0d8 0%, #4abef7 100%);
    color: $white;
  }
}

.intro__form_grid-1 {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 1fr;
}

.intro__form_type {
  border-radius: 5px 0 0 5px;
}

.intro__form_text {
  padding-right: 140px;
  border-radius: 0 5px 5px 0;
}

.slide-2__slider {
  .slick-prev,
  .slick-next {
    top: 0;
    transform: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
    background-color: rgba(#000, .4);
    border-radius: 50%;
    border: none;
    outline: none;
    transition: .5s;
    opacity: 1;
    z-index: 2000;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 5px;
      height: 5px;
      border: 1px solid $white;
      border-top-color: transparent;
      border-left-color: transparent;
    }
    &:focus {
      outline: none;
      background-color: rgba(#000, .6);
    }
    &:hover {
      opacity: 1;
      background-color: rgba(#000, .6);
    }
  }
  .slick-prev {
    left: 325px;
    &:before {
      transform: translate(-25%,-50%) rotate(135deg);
    }
  }
  .slick-next {
    left: 350px;
    &:before {
      transform: translate(-75%,-50%) rotate(-45deg);
    }
  }
  .slick-dots {
    position: initial;
    top: auto;
    left: auto;
    transform: none;
    max-width: 370px;
    justify-content: flex-start;
    margin: 10px 0 0;
    li {
      width: 100%;
      height: 2px;
      margin: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
      border-radius: 0;
      background-color: #363535;
      button {
        display: none;
      }
      &.slick-active {
        background-color: $primary;
      }
    }
  }
}

.slide-2__slider_title {
  color: $white;
  font-size: 16px;
  font-weight: 700;
}

.slide-2__slider_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.slide-2__slider_list_item {
  margin-right: 30px;
  margin-bottom: 10px;
}

.slide-2__slider_list_item_link_name {
  text-shadow: 0 0 8px rgba(79, 80, 80, 0.03);
  color: #a8c9f2;
  font-weight: 300;
}

.slide-2__slider_list_item_link_value {
  color: #fefefe;
}

.slide-2__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .btn {
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    color: $white;
    &:nth-child(1) {
      width: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      border: 1px solid $white;
      img {
        margin-right: 10px;
      }
    }
    &:nth-child(2) {
      width: 216px;
      background-color: #1d1c1c;
    }
  }
}

.slide-2__desc {
  margin-top: 10px;
  font-weight: 300;
  color: $white;
  text-align: right;
}

.intro {}