<div class="home-1">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <div class="row">
                    <div class="col-6">
                        <a href="/" class="home-1__card">
                            <div class="home-1__card_title">Собственникам недвижимости</div>
                            <div class="home-1__card_icon">
                                <img src="../../assets/img/icons/location-home.png" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="/" class="home-1__card">
                            <div class="home-1__card_title">Клининг</div>
                            <div class="home-1__card_icon">
                                <img src="../../assets/img/icons/broom.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-7">
                <a href="/" class="home-1__map">
                    <div class="home-1__map_title">Поиск по карте</div>
                    <div class="home-1__map_desc">
                        Теперь вы можете искать на карте не только объекты, но и клиентов в вашем <br>
                        районе и по вашем предпочтениям
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.home-1 -->