.home-1 {
  padding-top: 30px;
  background-color: $white;
}

.home-1__map {
  display: block;
  width: 100%;
  height: 200px;
  padding: 35px;
  border-radius: 5px;
  text-align: center;
  background-image: url(../../assets/img/home-1/home-1__map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-1__map_title {
  font-weight: 800;
  font-size: 24px;
  color: $white;
}

.home-1__map_desc {
  margin-top: 15px;
  font-weight: 300;
  color: $white;
}

.home-1 {}

.home-1 {}

.home-1 {}

.home-1 {}