.home-1 {
  padding-top: 30px;
  background-color: $white;
}

.home-1__card {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 200px;
  padding: 35px 20px;
  box-shadow: -5px 0 13px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  background-color: $white;
  &:hover {
    &:before {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 103px;
    height: 84px;
    border-radius: 100% 0 0 100% / 100% 100% 0 0;
    background-color: rgba(#4abef7, .1);
    transition: .3s;
  }
}

.home-1__card_title {
  font-weight: 600;
  font-size: 20px;
  color: #1c1b1b;
}

.home-1__card_icon {
  position: absolute;
  bottom: 15px;
  right: 25px;
}

.home-1__map {
  display: block;
  width: 100%;
  height: 200px;
  padding: 35px;
  border-radius: 5px;
  text-align: center;
  background-image: url(../../assets/img/home-1/home-1__map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-1__map_title {
  font-weight: 800;
  font-size: 24px;
  color: $white;
}

.home-1__map_desc {
  margin-top: 15px;
  font-weight: 300;
  color: $white;
}

.home-1 {}

.home-1 {}

.home-1 {}

.home-1 {}